
body {
	color: #000000;
	font-family: $font-RyuminPro;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	line-height: 1.4;
	background: #730027;
	@media screen and (min-width:0\0) {
		font-family: $font-mincho;
	}
}


//header
#header{
	position: relative;
	.top{
		background: white;
		padding: 10px 0;
		@include mq(ipd){
			padding: 15px 0;
		}
		.inner{
			max-width: 925px;
		}
	}
	.inner{
		max-width: 980px;
		.nav-menu{
			@include mq(ipd-min){
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 6px 0;
			}
			@include mq(ipd){
				opacity: 0;
				visibility: hidden;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 100vh;
				padding: 60px 20px 0;
				overflow-y: scroll;
				background: #730027;
				z-index: 9;
				text-align: center;
				@include smooth-transition;
				&.active{
					opacity: 1;
					visibility: visible;
				}
			}
			.show-menu{
				display: flex;
				@include mq(ipd){
					display: block;
					margin-bottom: 10px;
				}
				>.item{
					position: relative;
					>a{
						display: block;
						@include font-size(14);
						font-weight: bold;
						color: white;
						padding: 0 9px;
						line-height: 1;
						border-right: 1px solid white;
						//font-family: $font-Hiragino;
						@include mq(ipd){
							text-align: center;
							position: relative;
							border-right: none;
							@include font-size(16);
							padding: 15px 0;
						}
					}
					&:last-child{
						>a{
							border-right: none;
						}
					}
				}
			}

		}
		.mobile-icon {
			width: 26px;
			height: 30px;
			-webkit-transition: background .5s;
			-o-transition: background .5s;
			transition: background .5s;
			position: absolute;
			right: 10px;
			top: 55%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			cursor: pointer;
			z-index: 12;
			display: none;
			@include mq(ipd){
				display: block;
			}
			span{
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				transform: translateX(-50%);
				display: block;
				width: 100%;
				height: 2px;
				margin-top: -2px;
				background-color: #730027;
				font-size: 0;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				-webkit-transition: background-color 0.3s;
				-o-transition: background-color 0.3s;
				transition: background-color 0.3s;
				border-radius: 3px;
				&:before,&:after{
					position: absolute;
					left: 0;
					width: 100%;
					height: 100%;
					background: #730027;
					content: '';
					-webkit-transition: -webkit-transform 0.3s;
					transition: transform 0.3s;
					border-radius: 3px;
				}
				&:before{
					-webkit-transform: translateY(-250%);
					transform: translateY(-250%);
					top: -2px;
				}
				&:after{
					-webkit-transform: translateY(250%);
					transform: translateY(250%);
					bottom: -2px;
				}
			}
			&.mobile-close span {
				background-color: transparent;
				&:before,&:after{
					width: 100%;
					background: white;
				}
				&:before {
					-webkit-transform: translateY(0) rotate(45deg);
					transform: translateY(0) rotate(45deg);
					top: 2px;
				}
				&:after {
					-webkit-transform: translateY(0) rotate(-45deg);
					transform: translateY(0) rotate(-45deg);
					bottom: -2px;
				}
			}
		}
	}
}


main{
	max-width: 950px;
	margin: 0 auto;
	border: 8px solid #a89c72;
	background: white;
	padding: 20px 0 0;
	@include mq(ipd){
		border: 4px solid #a89c72;
		margin: 10px 10px 0;
	}
}

//footer
#footer{
	color: white;
	@include font-size(14);
	text-align: center;
	padding-bottom: 35px;
	@include mq(sm){
		padding: 20px 0;
	}
	.menu-footer{
		display: flex;
		justify-content: center;
		margin: 30px 0 25px;
		@include mq(sm){
			display: none;
		}
		li{
			border-right: 1px solid white;
			a{
				display: block;
				padding: 0 40px;
				line-height: 1;
				color: white;
				@include mq(ipd){
					padding: 0 15px;
				}
			}
			&:last-child{
				border-right: none;
			}
		}
	}
}
