<header id="header">
	<div class="top">
		<div class="inner">
			<a href="<%= RELATIVE_PATH %>" class="logo">
				<img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="sunstart">
			</a>
		</div>
	</div>
	<div class="inner">
		<nav class="nav-menu">
			<ul class="show-menu clearfix">
				<li class="item">
					<a href="">製品について</a>
				</li>
				<li class="item">
					<a href="">歯槽膿漏・歯肉炎とは？</a>
				</li>
				<li class="item">
					<a href="">お客様の声</a>
				</li>
				<li class="item">
					<a href="">8020運動で健康なお口へ</a>
				</li>
				<li class="item">
					<a href="">購入はこちらから</a>
				</li>
			</ul>
			<a href="" class="item-menu">
				<img src="<%= RELATIVE_PATH %>img/common/note.png" alt="sunstart">
			</a>
		</nav>
		<span class="mobile-icon">
			<span></span>
		</span>
	</div>
</header>